<IfModule mod_headers.c>
        Header set Cache-Control "no-store, no-cache, must-revalidate, private"
</IfModule>

<IfModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault "now"
</IfModule>